---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

// Lekérjük az összes cikket, majd kiszűrjük CSAK a "Táborok" kategóriát
const allPosts = await getCollection('hirek');
const taborokPosts = allPosts.filter(post => post.data.category === 'Táborok');
---

<BaseLayout title="Táborok">
  <div class="tabor-cikkek-tarolo">
  <h3>Legfrissebb információk a táborokról:</h3>
  <ul>
    {taborokPosts.map((post) => (
  <li class="flex items-center gap-4 mb-6">
  {post.data.thumbnail && (
    <img src={post.data.thumbnail} alt={post.data.title} class="w-24 h-24 object-cover rounded-lg shadow-sm flex-shrink-0" />
  )}
  
  <a href={`/cikk/${post.slug}`} class="text-blue-600 hover:text-blue-800 hover:underline font-bold text-xl">
    {post.data.title}
  </a>
</li>
    ))}
  </ul>
</div>
  
</BaseLayout>

<style>
  .oldal-tartalom {
    background: white;
    padding: 4rem 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    text-align: center;
    margin-top: 2rem;
  }
  h1 {
    color: var(--primary-color);
  }
</style>